@use '../util' as u;

.about {
  display: flex;
  flex-direction: row;
  gap: u.rem(24);

  &__intro {
    display: flex;
    flex-direction: row;
    gap: u.rem(32);
    padding: 0 u.rem(24);
    margin-bottom: u.rem(60);

    @include u.breakpoint-down(small) {
      flex-direction: column;
      padding: 0;
    }
  }

  &__col1,
  &__col2 {
    width: 100%;
  }

  &__fullWidth {
    display: flex;
    flex-direction: row;
    background-color: var(--greenLight);
    width: 100%;
    height: auto;
    margin-bottom: u.rem(80);

    @include u.breakpoint-down(small) {
      flex-direction: column;
      margin-bottom: u.rem(40);
    }

    &--col1 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      @include u.breakpoint-down(small) {
        margin-bottom: u.rem(20);
      }
    }
    
    &--col2 {
      align-content: center;
      padding-left: 20px;
    }

    &--col1,
    &--col2 {
      width: 100%;
    }

    img {
      align-self: end;
    }

    &--content {
      max-width: u.rem(480);
    }
  }

  &__brand {
    margin-bottom: u.rem(48);

    @include u.breakpoint-down(small){
      margin-bottom: u.rem(20);
      margin-inline: auto;
    }

    &--logo {
      max-width: 45%;

      @include u.breakpoint-down(small) {
        max-width: 90%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 80px;

    @include u.breakpoint-down(small) {
      flex-direction: column;
    }

    &--col1,
    &--col2 {
      width: 100%;
    }

    h2 {
      font-size: u.rem(40);
      line-height: 1;
      margin-bottom: u.rem(24);
      margin-top: u.rem(40);
    }

    h2:not(.stainedGlassHead) {
      margin-top: 0;
    }
  }
}

h1.artistTitle {
  font-size: u.rem(64);
  margin-bottom: u.rem(16);
  line-height: .75;

  @include u.breakpoint-down(small) {
    font-size: u.rem(48);
  }
}

h2.artistName {
  color: var(--darkBlue);
  font-size: u.rem(32);
  margin-bottom: u.rem(40);
}

.krista {

  &__artLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    margin-bottom: u.rem(80);

    @include u.breakpoint-down(small) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      margin-bottom: u.rem(24);
    }

  }

  &__artLink {
    max-width: 100%;
    height: auto;
    overflow: hidden;

    &--container {
      position: relative;
    }
  }
} 

.artLink  {

  &__caption {
    background-color: var(--white);
    width: 100%;
    overflow: hidden;

    &--header {
      font-family: var(--font-text);
      font-size: u.rem(28);
      line-height: 1.5;
      font-weight: 500;
      color: var(--darkBlue);
      padding: u.rem(20);
      margin: 0;
    }

    &--boarder {
      border: 5px solid var(--darkBlue);
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}