@use '../util' as u;

.topnav {

  &__menu {
    inset: 0 0 auto 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: min(100% - u.rem(48), u.rem(1200));
    margin-inline: auto;
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__link {
    display: block;
    font-size: u.rem(18);
    line-height: 1;
    font-weight: 400;
    color: var(--primaryBlueDark);
    text-decoration: none;

    &:hover {
      color: var(--darkOrange);
    }
  }
}
